:root {
    --mainOrange: #ff5000;
    --mainGrey: #53565a;
    --secondaryRed: #cb2228;
    --secondaryBlue: #4046a8;
    --secondaryYellow: #fff000;
    --trendPink: #e384c4;
    --trendLightBlue: #5db1e4;
    --trendGreen: #3ba88f;
}