:root {
    --mainOrange: #ff5000;
    --mainGrey: #53565a;
    --secondaryRed: #cb2228;
    --secondaryBlue: #4046a8;
    --secondaryYellow: #fff000;
    --trendPink: #e384c4;
    --trendLightBlue: #5db1e4;
    --trendGreen: #3ba88f;
}

@font-face {
    font-family: RobotoSlab;
    src: url(../fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf);
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: OpenSans;
    src: url(../fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
    font-weight: 400;
    font-display: swap;
}

#main {
    margin: auto;
    background-color: bisque; height: 100vh;
}

#media {
    background-color: var(--secondaryRed);
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
}

#info {
    background-color: var(--trendGreen);
    align-content: center;
}


#left {
    margin: 0px !important; 
    padding: 0px !important;
}

#right {
    margin: 0px !important;
    padding: 0px !important;
}

#food {
    background-color: var(--secondaryYellow);
}

#transport {
    padding: 0px !important;
}

#bus {
    background-color: var(--trendLightBlue);
}

#train {
    background-color: var(--secondaryBlue);
}

h2, h3 {
    text-align: center;
    font-family: RobotoSlab;
}

p, li {
    font-family: OpenSans;
}