:root {
    --mainOrange: #ff5000;
    --mainGrey: #53565a;
    --secondaryRed: #cb2228;
    --secondaryBlue: #4046a8;
    --secondaryYellow: #fff000;
    --trendPink: #e384c4;
    --trendLightBlue: #5db1e4;
    --trendGreen: #3ba88f;
}

@font-face {
    font-family: RobotoSlab;
    src: url(../fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf);
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: OpenSans;
    src: url(../fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
    font-weight: 400;
    font-display: swap;
}

body {
    background-image: url(https://www.metropolia.fi/sites/default/files/images/Uutiset/csm_KaramalmiUlkoKesakuu2019koko775x421_4e63b2fb25.jpg);
    background-size: cover;
    backdrop-filter: blur(4px);
}

#nav-bar {
    display: none !important;
}

#main {
    margin: auto;
    /*background-color: bisque;*/
    height: 100vh;
}

#media {
    background-color: var(--secondaryRed);
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    margin-bottom: 35px;
    background-color: white;
    min-height: 52%;
    -webkit-box-shadow: 10px 10px 18px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 18px -12px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 18px -12px rgba(0, 0, 0, 0.75);
}

#info {
    background-color: var(--trendGreen);
    align-content: center;
    background-color: white;
    min-height: 300px;
    -webkit-box-shadow: 10px 10px 18px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 18px -12px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 18px -12px rgba(0, 0, 0, 0.75);
}

#info-list {
    padding: 20px;
}

.info-card {
    padding: 5px;
    background-color: bisque;
    text-align: center;
    min-height: 260px;
}

#left {
    margin: 15px;
    padding: 0px !important;
}

#right {
    margin: 15px;
    padding: 0px !important;
}

#food {
    background-color: var(--secondaryYellow);
    margin-bottom: 35px;
    background-color: white;
    min-height: 52%;
    -webkit-box-shadow: 10px 10px 18px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 18px -12px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 18px -12px rgba(0, 0, 0, 0.75);
}

#transport {
    padding: 0px !important;
    background-color: white;
    -webkit-box-shadow: 10px 10px 18px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 18px -12px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 18px -12px rgba(0, 0, 0, 0.75);
}

#bus {
    background-color: white;
}

#bus {
    background-color: white;
}

#hsl-data {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
}

#hsl-data li {
    flex: 1 0 42%;
    margin: 12px;
}

h2 {
    text-align: center;
    color: var(--mainOrange) !important;
}

h2, h3 {
    font-family: RobotoSlab;
}

p, li {
    font-family: OpenSans;
}